---
layout: handbook-page-toc
title: Dev Sub-department
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Vision

Enable engineers across the world by having top notch planning and issue tools for managing their work, awesome tools to organize their code and evolve their codebase through the best code review and online editing experience.
Support organizations to have an easy entrance level to use GitLab by having great import capabilities, a great documentation experience and administration tools.

We thrive for ownership of the things that we built by having a clear view on its performance and stability in production. We constantly challenge ourselves to build a better, faster and more robust application.

## Mission

The Dev sub-department is taking care of the first part of the DevSecOps Lifecycle with the following 3 stages and the specific groups:

1. [Manage](/handbook/product/product-categories/#manage-stage)
  * [Manage:Access BE](/handbook/engineering/development/dev/manage/)
  * [Manage:Analytics BE](/handbook/engineering/development/dev/manage/)
  * [Manage:Compliance BE](/handbook/engineering/development/dev/manage/)
  * [Manage:Import BE](/handbook/engineering/development/dev/manage/)
  * [Manage FE](/handbook/engineering/development/dev/manage/)
1. [Plan](/handbook/product/product-categories/#plan-stage)
  * [Plan:Project Management BE](/handbook/engineering/development/dev/plan-project-management-be/)
  * [Plan:Portfolio Management BE](/handbook/engineering/development/dev/plan-portfolio-management-be/)
  * [Plan:Certify BE](/handbook/engineering/development/dev/plan-certify-be/)
  * [Plan FE](/handbook/engineering/development/dev/fe-plan/)
1. [Create](/handbook/product/product-categories/#create-stage)
  * [Create: Source Code BE](/handbook/engineering/development/dev/create-source-code-be/)
  * [Create: Source Code FE](/handbook/engineering/development/dev/create-source-code-fe/)
  * [Create: Knowledge BE](/handbook/engineering/development/dev/create-knowledge-be/)
  * [Create: Knowledge FE](/handbook/engineering/development/dev/create-knowledge-fe/)
  * [Create: Static Site Editor](/handbook/engineering/development/dev/create-static-site-editor/)
  * [Create: Editor BE](/handbook/engineering/development/dev/create-editor-be/)
  * [Create: Editor FE](/handbook/engineering/development/dev/create-editor-fe/)
  * [Create Frontend](/handbook/engineering/development/dev/fe-create/)
  * [Gitaly](/handbook/engineering/development/dev/gitaly/)
  * [Ecosystem](/handbook/engineering/development/dev/ecosystem/)

## Who we are

### Manage

#### Manage:Access & Manage:Import
<%= direct_team(manager_role: 'Backend Engineering Manager, Manage:Access & Manage:Import') %>

#### Manage:Compliance & Manage:Optimize
<%= direct_team(manager_role: 'Backend Engineering Manager, Manage, Manage:Compliance & Manage:Optimize') %>

#### Manage Frontend
<%= direct_team(manager_role: 'Frontend Engineering Manager, Manage:Access & Manage:Compliance & Manage:Import') %>
<%= direct_team(manager_role: 'Frontend Engineering Manager, Manage:Optimize') %>


### Plan

#### Plan:Project Management
<%= direct_team(manager_role: 'Backend Engineering Manager, Plan:Project Management') %>

#### Plan:Portfolio Management & Plan:Certify
<%= direct_team(manager_role: 'Backend Engineering Manager, Plan:Portfolio Management & Plan:Certify') %>

#### Plan Frontend
<%= direct_team(manager_role: 'Frontend Engineering Manager, Plan') %>

### Create

#### Create:Source Code
<%= direct_team(manager_role: 'Backend Engineering Manager, Create:Source Code') %>

#### Create:Knowledge & Create:Editor
<%= direct_team(manager_role: 'Backend Engineering Manager, Create:Knowledge & Create:Editor') %>

#### Create:Static Site Editor
<%= direct_team(manager_role: 'Backend Engineering Manager, Create:Static Site Editor') %>

#### Create:Source Code Frontend
<%= direct_team(manager_role: 'Frontend Engineering Manager, Create:Source Code, Delivery & Scalability') %>

#### Create:Knowledge & Create:Editor Frontend
<%= direct_team(manager_role: 'Frontend Engineering Manager, Create:Knowledge & Create:Editor') %>

#### Gitaly
<%= direct_team(manager_role: 'Backend Engineering Manager, Gitaly') %>

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] Dev/, direct_manager_role: 'Director of Engineering, Dev') %>

## Common Links

 * Issue Tracker
 * Slack Channels
    * #engineering_dev
    * #s_manage
    * #s_plan
    * #s_create
