---
title: GitLab Advanced System Administration Training
suppress_header: true
description: "GitLab Advanced System Administration Training"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_adv-admin" }
    .row
      .col-md-12
        %h2 Course Syllabus
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Schedule
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 1 hour
                  %td Using GitLab CLI Utilities
                  %td 
                    %ul
                      %li GitLab CLI Utilities
                      %li Best Practices for Development

                %tr
                  %td .5 hours
                  %td Viewing Active Logs
                  %td 
                    %ul
                      %li Information in Active Logs
                      %li Active Logs for Troubleshooting Issues

                %tr
                  %td 2 hours
                  %td Monitoring Your GitLab Instance
                  %td 
                    %ul
                      %li Health Status
                      %li Server Status
                      %li Disaster Recovery
                      %li Upgrades

                %tr
                  %td 2 - 3 hours
                  %td Working with GitLab Support: How to Generate Error Reports
                  %td 
                    %ul
                      %li Unicorn Errors
                      %li Puma Errors
                      %li GitLab 500 Errors
                      %li Sidekiq Errors
                      %li Workhorse Errors
                      %li Rails Console
                      %li API/DB Queries

                %tr
                  %td 2 hours
                  %td Best Practices for Preventing Integration Problems
                  %td 
                    %ul
                      %li Common Causes
                      %li Common Problems
                      %li Best Practices for Preventing

                %tr
                  %td 1 hour
                  %td Resolving User and Group Problems
                  %td 
                    %ul
                      %li User Password and Permission Issues
                      %li Group and Project Permission Issues                     

        = partial "includes/services/requirements", locals: { id: "training_sessions_admin" }        


